#side-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 300px;
    bottom: 0;
    z-index: 1000;
    background: #040b14;
    overflow-y: auto;
    transition: all 0.5s;
    padding: 0 15px;
    .profile-container {
        padding: 0 20px;
        margin-top: 40px;
        text-align: center;
        .profile-img {
            margin: auto;
            width: 80%;
            margin-bottom: 20px;
        }
        h4 {
            font-weight: 700;
        }
        a {
            display: inline-block;
            width: 40px;
            height: 40px;
            font-size: 20px;
            line-height: 20px;
            padding: 10px 0;
            border-radius: 50%;
            margin: 0 4px;
            background: #212431;
        }
        a:hover {
            background: #149ddd;
        }
    }
    .group-button-container {
        width: 80%;
        margin: auto;
        margin-top: 50px;
        font-size: 18px;
        .nav-item {
            margin-bottom: 10px;
        }
    }
}